DirectoryIndex index index.en.html index.html
RedirectPermanent /files http://sourceforge.net/project/showfiles.php?group_id=23629
RedirectPermanent /changes http://www.jmol.org/history
RedirectPermanent /lists http://www.jmol.org/project
Options MultiViews FollowSymLinks
AddLanguage de .de
AddLanguage en .en
AddLanguage es .es
AddLanguage et .et
AddLanguage fr .fr
AddLanguage hu .hu
AddLanguage it .it
AddLanguage nl .nl
AddLanguage pt .pt
AddLanguage pt_BR .pt_BR
AddLanguage ro .ro
