body {
  margin: 1em 1em 2em 30px;
  font-family: arial, helvetica, sans-serif;
  color: black;
  background: white;
}

h1, h2, h3, h4, h5, h6 { text-align: left }
h1, h2, h3, h4, h5 { color: #040099 }
h1 { font: 170% arial, helvetica, sans-serif; }
h2 { font: 140% arial, helvetica, sans-serif; }
h3 { font: 120% arial, helvetica, sans-serif; }
h4 { font: bold 100% arial, helvetica, sans-serif; }
h5 { font: italic 100% arial, helvetica, sans-serif; }
h6 { font: small-caps 100% arial, helvetica, sans-serif; }

p { font-family: arial, helvetica, sans-serif; }

ul, td, th {
  font-family: arial, helvetica, sans-serif;
}

tt, pre, code {
  font-family: monospace;
}

td.btfah {
  text-align: center;
  line-height: 1.5em;
  padding-left: 0;
  padding-right: 0;
}
td.btfah input {
  margin-left: 0;
  margin-right: 0;
  width: 3em;
}

#perTable td {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align:center;
	cursor:default;
}
.symbols {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align:center;
}
.colorTable {
	border: solid black;
	border-width: 0px 2px 1px 1px;
}
.colorTable td {
	border: solid black;
	border-width: 0 0 1px 0;
}
.colorTable th {
	border: solid black;
	border-width: 1px 0 1px 0;
}
.outdatedMessage {
	padding:6px; 
	border:3px outset #99CC33;
	text-align:center;
	font-size:1.2em; 
	color:#FFFFFF; 
	background-color:#99CC33; 
	background-image:url(images/warning.gif); 
	background-position:left; 
	background-repeat:no-repeat;
}
.optP {
	border-bottom: 2px dotted #666;
}